@import 'variables';
@import 'mixins';

@font-face {
    font-family: 'F1-Black';
    src: url('../fonts/Formula1-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'F1-Bold';
    src: url('../fonts/Formula1-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'F1-Regular';
    src: url('../fonts/Formula1-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'F1-Wide';
    src: url('../fonts/Formula1-Wide.ttf') format('truetype');
}

html {
    @include box-sizing(border-box);
    height: 100%;
}

*,
*:after,
*:before {
    @include box-sizing(inherit);
}

body {
    box-sizing: border-box;
    max-width: 100%;
    margin: 0 auto;
    background-color: #FFEEE4;
}

img {
    max-width: 100%;
}

nav {
    display: flex;
    flex-direction: column;
    flex: 1 0 100%;
    background-color: $naranja;

    img {
        padding: 1.4rem;
    }

    ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
        align-items: center;
        li {
            padding: 1rem;
            width: 100%;

            &:hover{
                background-color: $gris_background;
            }
            
            a {
                text-decoration: none;
                color: #FFEEE4;
            }
        }
    }
}


.main-navbar ul {
    display: flex;
    justify-content: flex-start;
    li {
        text-align: center;
        font-family: 'F1-Regular';
        .drivers-list {
            display: none;
        }
    }
}