@import 'variables';
@import 'mixins';
@font-face {
    font-family: 'F1-Black';
    src: url('../fonts/Formula1-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'F1-Bold';
    src: url('../fonts/Formula1-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'F1-Regular';
    src: url('../fonts/Formula1-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'F1-Wide';
    src: url('../fonts/Formula1-Wide.ttf') format('truetype');
}

html {
    @include box-sizing(border-box);
    height: 100%;
}

*,
*:after,
*:before {
    @include box-sizing(inherit);
}

body {
    box-sizing: inherit;
    max-width: 100%;
    margin: 0 auto;
    background-color: $beige;
}

img {
    max-width: 100%;
}

nav {
    display: flex;
    flex-direction: column;
    background-color: $naranja;
    @include for-desktop-up {
        margin-top: 1rem;
        flex-direction: row;
        justify-content: center;
        max-height: 75px;
        img {
            max-width: 200px;
            padding: 0;
        }
    }
    img {
        padding: 1.4rem;
    }
    ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
        align-items: center;
        justify-content: center;
        margin: 0;
        @include for-desktop-up {
            flex-direction: row;
        }
        li {
            padding: 0;
            width: 100%;
            padding: 1rem;
            @include for-desktop-up {
                padding: 1.7rem;
            }
            &:hover {
                background-color: $naranja_oscuro;
                cursor: pointer;
            }
            a {
                text-decoration: none;
                color: #FFEEE4;
            }
        }
    }
}

.main-navbar ul {
    display: flex;
    justify-content: flex-start;
    li {
        text-align: center;
        font-family: 'F1-Regular';
        .drivers-list {
            display: none;
        }
    }
}