@mixin box-sizing($box-model) {
    box-sizing: $box-model;
}

@mixin fondo($color) {
    background-color: $color;
}

@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}

@mixin for-tablet-portrait-up {
    @media (min-width: 600px) {
        @content;
    }
}

@mixin for-tablet-landscape-up {
    @media (min-width: 900px) {
        @content;
    }
}

@mixin for-desktop-up {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin for-big-desktop-up {
    @media (min-width: 1800px) {
        @content;
    }
}

@mixin margen {
    margin: 1rem 1rem;
}

@mixin boton {
    text-decoration: none;
    background-color: $naranja;
    padding: .5rem;
    border: 3px solid $naranja_oscuro;
    color: $blanco;
    border-radius: 10px;
    font-family: 'F1-Regular';
    a {
        text-decoration: none;
        color: $blanco;
    }
}

@mixin spinner {
    .triple-spinner {
        display: block;
        position: relative;
        width: 125px;
        height: 125px;
        border-radius: 50%;
        border: 4px solid transparent;
        border-top: 4px solid #FF5722;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
        margin: 2rem auto;
    }
    .triple-spinner::before,
    .triple-spinner::after {
        content: "";
        position: absolute;
        border-radius: 50%;
        border: 4px solid transparent;
    }
    .triple-spinner::before {
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-top-color: #FF9800;
        -webkit-animation: spin 3s linear infinite;
        animation: spin 3.5s linear infinite;
    }
    .triple-spinner::after {
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-top-color: #FFC107;
        -webkit-animation: spin 1.5s linear infinite;
        animation: spin 1.75s linear infinite;
    }
    @-webkit-keyframes spin {
        from {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    @keyframes spin {
        from {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
}