<div class="hero">
    <app-navbar></app-navbar>
    <div class="titulo">
        <h1>Pilotos de Fórmula 1</h1>
    </div>
</div>
<div class="contenedor">
    <div class="current-constructors">
        <div class="titulo">Pilotos Temporada 2019</div>
        <div class="constructors-table" *ngIf="currentDrivers | async as drivers else noData">
            <table>
                <tr>
                    <th>#</th>
                    <th colspan="2">Piloto</th>
                    <th *ngIf="!mobile">Constructor</th>
                    <th *ngIf="!mobile">Puntos</th>
                </tr>
                <tr class="row" *ngFor="let driver of drivers; let i=index">
                    <td>{{i+1}}</td>
                    <td *ngIf="mobile"> <img src="https://www.countryflags.io/{{driver.Driver.countryCode}}/shiny/16.png" alt=" "></td>
                    <td *ngIf="!mobile"> <img src="https://www.countryflags.io/{{driver.Driver.countryCode}}/shiny/32.png" alt=" "></td>
                    <td> <a [routerLink]="[ '/pilotos', driver.Driver.driverId ]"> {{driver.Driver.givenName}} {{driver.Driver.familyName}} </a> </td>
                    <td *ngIf="!mobile"> <a [routerLink]="[ '/constructores', driver.Constructors[0].constructorId ]"> {{driver.Constructors[0].name}} </a> </td>
                    <td *ngIf="!mobile"> {{driver.points}} </td>
                </tr>
            </table>
        </div>
        <ng-template #noData>
            <div class="triple-spinner"> </div>
        </ng-template>
    </div>
    <div class="cards-container ">
        <h1 class="titulo ">Lista de pilotos</h1>
        <ng-container *ngIf="driversReady else noData">
            <ng-container *ngFor="let letra of letras ">
                <div class="card ">
                    <div class="letra "> {{letra}} </div>
                    <ng-container *ngFor="let driver of drivers ">
                        <div class="circuit " *ngIf="driver.givenName.charAt(0)===letra ">
                            <img src="https://www.countryflags.io/{{driver.countryCode}}/shiny/64.png ">
                            <div class="circuit-name "> <a [routerLink]="[ '/pilotos', driver.driverId ] ">{{driver.givenName}} {{driver.familyName}}</a>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>
<app-footer></app-footer>