<div *ngIf="circuit && MostSuccesfullDriver else noData" class="contenedor">
    <div class="hero">
        <app-navbar></app-navbar>
        <div class="titulo">
            <h1>{{circuit.circuitName}}</h1>
        </div>
    </div>
    <div class="header">
        <h1 class="circuit-name">{{circuit.circuitName}}</h1>
        <img class="circuit-image" src="{{circuitImage}}">
        <div class="country">
            <img class="flag" src="https://www.countryflags.io/{{circuit.countryCode}}/shiny/64.png">
            <div class="name"> {{circuit.Location.locality}}, {{circuit.Location.country}}</div>
        </div>
        <div class="description" *ngIf="gpCount > 1 else onlyOneGP">
            <p>El {{circuit.circuitName}} en {{circuit.Location.locality}} ha albergado {{gpCount}} Grandes Premios entre {{firstYear}} y {{lastYear}}.</p>
            <ng-container *ngIf="gpCount >= 7">
                <p>Con {{MostSuccesfullDriver.count}} victorias, {{MostSuccesfullDriver.driver.givenName}} {{MostSuccesfullDriver.driver.familyName}} es el piloto más exitoso en este circuito. El mejor constructor ha sido {{MostSuccesfullConstructor.constructor.name}}
                    con un total de {{MostSuccesfullConstructor.count}} victorias en este trazado.</p>
            </ng-container>
        </div>
        <div class="extended-description">
            <p>{{extendedInfo}}</p>
        </div>
        <ng-template #onlyOneGP>
            <div class="description">
                <p>El {{circuit.circuitName}} en {{circuit.Location.locality}} organizó {{gpCount}} Gran Premio en {{firstYear}}.</p>
            </div>
        </ng-template>

    </div>
    <div class="events header">
        <div class="titulo">
            <h1>Ubicación</h1>
        </div>
        <iframe width="600" height="450" frameborder="0" style="border:0" [src]="src" allowfullscreen>
        </iframe>
    </div>
    <div class="events header">
        <div class="titulo">
            <h1>Eventos</h1>
        </div>
        <table>
            <tr class="main-titles">
                <th>#</th>
                <th colspan="2 ">Evento</th>
                <th colspan="4 ">Ganador</th>
                <th colspan="3 " class="pole">Pole Position</th>
            </tr>
            <tr class="row" *ngFor="let result of results; let i = index">
                <td>{{i + 1}}</td>
                <td><a href="">{{result.season}} {{result.raceName}}</a></td>
                <td>{{result.formattedDate}}</td>
                <td><img src="https://www.countryflags.io/{{result.Results[0].Driver.countryCode}}/shiny/32.png" title="{{result.Results[0].Driver.nationality}}"></td>
                <td><a href="#">{{result.Results[0].Driver.givenName}} {{result.Results[0].Driver.familyName}}</a></td>
                <td><a href="#">{{result.Results[0].Constructor.name}}</a></td>
                <td class="pole">{{result.Results[0].Time.time}}</td>
                <ng-container *ngIf="polemansReady else noPolemans">
                    <td class="pole"><img src="https://www.countryflags.io/{{polemans[i].Results[0].Driver.countryCode}}/shiny/32.png"></td>
                    <td class="pole"><a href="#">{{polemans[i].Results[0].Driver.givenName}} {{polemans[i].Results[0].Driver.familyName}}</a></td>
                    <td class="pole"><a href="#">{{polemans[i].Results[0].Constructor.name}}</a></td>
                </ng-container>
                <ng-template #noPolemans>
                    <td class="pole"> NULL </td>
                    <td class="pole"> NULL</td>
                    <td class="pole"> NULL </td>
                </ng-template>

            </tr>
        </table>
    </div>
    <app-footer></app-footer>
</div>

<ng-template #noData>
    <div class="hero ">
        <app-navbar></app-navbar>
        <div class="titulo ">
            <h1>Circuitos de Fórmula 1</h1>
        </div>
    </div>
</ng-template>
<ng-template #noResults>
    <td>NO DATA</td>
</ng-template>