@font-face {
  font-family: 'F1-Black';
  src: url("../fonts/Formula1-Black.ttf") format("truetype"); }

@font-face {
  font-family: 'F1-Bold';
  src: url("../fonts/Formula1-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'F1-Regular';
  src: url("../fonts/Formula1-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'F1-Wide';
  src: url("../fonts/Formula1-Wide.ttf") format("truetype"); }

html {
  box-sizing: border-box;
  height: 100%; }

*,
*:after,
*:before {
  box-sizing: inherit; }

body {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  max-width: 100%;
  margin: 0 auto;
  background-color: #ffffff; }

img {
  max-width: 100%; }

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #F17F42; }
  @media (min-width: 1200px) {
    nav {
      margin-top: 0.3rem;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      max-height: 75px; }
      nav img {
        max-width: 200px;
        padding: 0; } }
  nav img {
    padding: 1.4rem; }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    list-style: none;
    padding: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0; }
    @media (min-width: 1200px) {
      nav ul {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row; } }
    nav ul li {
      padding: 0;
      width: 100%;
      padding: 1rem;
      text-align: center;
      font-family: 'F1-Regular'; }
      @media (min-width: 1200px) {
        nav ul li {
          padding: 1.7rem; } }
      nav ul li:hover {
        background-color: #CE6D39; }
      nav ul li a {
        text-decoration: none;
        color: #FFEEE4; }
      nav ul li .contenedor-flex .header {
        display: none; }
      nav ul li ul {
        display: none; }
        nav ul li ul li {
          background-color: #ffceb1; }

/* Lista de pilotos */
@media (min-width: 1200px) {
  nav ul li:hover ul {
    -webkit-animation: fadein 1.5s;
    animation: fadein 1.5s;
    position: absolute;
    top: 8.2rem;
    max-height: 375px;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 25%; }
    nav ul li:hover ul li {
      text-align: start; }
      nav ul li:hover ul li a {
        color: #000000;
        font-size: 0.7rem;
        padding: 1.9rem 6.5rem 1.9rem 1rem; }
        nav ul li:hover ul li a span {
          padding: .2rem;
          margin: .5rem; } }

@media (max-width: 599px) {
  nav ul li:hover ul {
    -webkit-animation: fadein 1.5s;
    animation: fadein 1.5s;
    position: absolute;
    top: 39.8rem;
    max-height: 375px;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%; }
    nav ul li:hover ul li {
      text-align: start; }
      nav ul li:hover ul li a {
        color: #000000;
        font-size: 0.7rem;
        padding: 1.9rem 6.5rem 1.9rem 1rem; }
        nav ul li:hover ul li a span {
          padding: .2rem;
          margin: .5rem; } }

/* Cabecera de "Temporada 2019" */
@media (min-width: 1200px) {
  nav ul li:hover .contenedor-flex .header {
    -webkit-animation: fadein 1.5s;
    animation: fadein 1.5s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    padding-left: 3rem;
    position: absolute;
    left: 0;
    background-color: #ffceb1;
    top: 5rem;
    width: 100%;
    text-align: start;
    border-bottom: 2px solid #CE6D39; } }

@media (max-width: 599px) {
  nav ul li:hover .contenedor-flex .header {
    -webkit-animation: fadein 1.5s;
    animation: fadein 1.5s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    position: absolute;
    left: 0;
    background-color: #ffceb1;
    top: 17rem;
    width: 100%;
    text-align: start;
    border-bottom: 2px solid #CE6D39; } }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.toro-rosso {
  background-color: #469bff; }

.mercedes {
  background-color: #00d2be; }

.redbull {
  background-color: #1e41ff; }

.alfa-romeo {
  background-color: #9b0000; }

.haas {
  background-color: #bd9e57; }

.renault {
  background-color: #fff500; }

.ferrari {
  background-color: #dc0000; }

.mclaren {
  background-color: #ff8700; }

.racing-point {
  background-color: #f596c8; }

.williams {
  background-color: #ffffff; }
