@font-face {
  font-family: 'F1-Black';
  src: url("../fonts/Formula1-Black.ttf") format("truetype"); }

@font-face {
  font-family: 'F1-Bold';
  src: url("../fonts/Formula1-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'F1-Regular';
  src: url("../fonts/Formula1-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'F1-Wide';
  src: url("../fonts/Formula1-Wide.ttf") format("truetype"); }

html {
  box-sizing: border-box;
  height: 100%; }

*,
*:after,
*:before {
  box-sizing: inherit; }

body {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  max-width: 100%;
  margin: 0 auto;
  background-color: #FFEEE4; }

img {
  max-width: 100%; }

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #F17F42; }
  @media (min-width: 1200px) {
    nav {
      margin-top: 1rem;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      max-height: 75px; }
      nav img {
        max-width: 200px;
        padding: 0; } }
  nav img {
    padding: 1.4rem; }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    list-style: none;
    padding: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0; }
    @media (min-width: 1200px) {
      nav ul {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row; } }
    nav ul li {
      padding: 0;
      width: 100%;
      padding: 1rem; }
      @media (min-width: 1200px) {
        nav ul li {
          padding: 1.7rem; } }
      nav ul li:hover {
        background-color: #CE6D39;
        cursor: pointer; }
      nav ul li a {
        text-decoration: none;
        color: #FFEEE4; }

.main-navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  .main-navbar ul li {
    text-align: center;
    font-family: 'F1-Regular'; }
    .main-navbar ul li .drivers-list {
      display: none; }
