<nav class="main-navbar">
  <div class="nav-header">
    <img (click)="goToIndex()" src="../../assets/images/logo.png" alt="">
    <i id="toggle" class="fas fa-bars"></i>
  </div>
  <ul id="main-ul">
    <li (click)="goToCircuits()"><a (click)="goToCircuits()">Circuitos</a></li>
    <li (click)="goToConstructors()"><a (click)="goToConstructors()">Constructores</a></li>
    <li (click)="goToDrivers()"><a>Pilotos</a>
      <div class="contenedor-flex">
        <div class="header"> <b>Temporada 2019</b>
          <hr>
        </div>
        <ul>
          <ng-container *ngFor="let i of drivers">
            <li>
              <a [routerLink]="['/pilotos', i.id]"> <span class="{{i.color}}">&#8205;</span> {{i.nombre}}
                <b>{{i.apellido}}</b></a>
            </li>
          </ng-container>
        </ul>
      </div>
    </li>
    <li (click)="goToSeasons()"><a (click)="goToSeasons()">Temporadas</a></li>
  </ul>
</nav>
<!-- Fin de navbar -->
