@import '../../scss_utils/variables';
@import '../../scss_utils/mixins';
@include spinner;
.contenedor {
    max-width: 1500px;
    margin: 0 auto;
}

.boton {
  text-decoration: none;
  background-color: $naranja;
  padding: .5rem;
  border: 3px solid $naranja_oscuro;
  color: $blanco;
  border-radius: 10px;
  font-family: 'F1-Regular';
  width: 30%;
  @include for-phone-only {
    width: 40%;
  }
  margin: 0 auto;
  margin-bottom: 1rem;
  a {
      text-decoration: none;
      color: $blanco;
  }
}

.box-presets {
    font-size: 1.3rem;
    margin: .5rem 1rem;
    font-family: 'F1-Regular';
}

.hero {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 0 100%;
    background-image: url(http://i.imgur.com/uPLfuYC.jpg);
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;
    .titulo {
        top: calc(50% - 3rem);
        position: absolute;
        text-align: center;
        color: $blanco;
        font-family: 'F1-Bold';
        align-self: center;
        font-size: 1.5rem;
    }
}

.header {
    margin: 1rem .5rem;
    border: 3px solid $naranja;
    border-radius: 10px;
    background-color: lighten($naranja, 35);
    box-shadow: 10px 10px 51px -10px rgba(0, 0, 0, 0.39);
    text-align: center;
    .circuit-name {
        font-family: 'F1-Bold';
        @include margen();
        border-bottom: 2px solid $naranja;
        padding-bottom: .5rem;
    }
    .circuit-image {
        width: 90%;
        @include margen();
        border: 2px solid $naranja_oscuro;
        border-radius: 10px;
        max-height: 25rem;
        max-width: 25rem;
        object-fit: contain;
        padding: .1rem;
        background-color: $naranja_oscuro;
    }
    .country {
        display: flex;
        align-items: center;
        justify-content: center;
        @include margen();
        font-family: 'F1-Bold';
        font-size: 1.3rem;
        margin-bottom: 1.5rem;
        img {
            margin-right: 2rem;
        }
    }
    .description {
        align-self: center;
        justify-self: center;
        @include margen();
        font-family: 'F1-Regular';
        line-height: 1.5rem;
        margin-bottom: 1.5rem;
        text-align: left;
        margin: 1rem auto;
        width: 90%;
        text-align: center;
        border-bottom: 1px solid $naranja;
    }
    @include for-desktop-up {
        padding: 1rem;
        max-width: 90%;
        margin: 1rem auto;
        display: grid;
        grid-template-areas: "name name" "image country" "image info" "extended extended";
        .circuit-name {
            grid-area: name;
        }
        .circuit-image {
            grid-area: image;
            align-self: center;
            justify-self: center;
        }
        .extended-description {
            grid-area: extended;
        }
        .description {
            border: 0;
        }
    }
}

.box {
    margin: 1rem;
    border: 3px solid $naranja;
    border-radius: 10px;
    background-color: lighten($naranja, 35);
    .titulo {
        margin: 1rem;
        text-align: center;
        font-family: 'F1-Bold';
        text-transform: uppercase;
        padding-bottom: .5rem;
        border-bottom: 2px solid $naranja;
        font-size: 1.3rem;
    }
}

.chart {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    .record {
        display: flex;
        flex: 1 1 50%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 1rem 0;
        .value {
            display: flex;
            font-size: 1rem;
            justify-content: space-between;
            span {
                margin-left: .2rem;
            }
        }
    }
}

.grid-container {
  @include for-desktop-up {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: fit-content(300px);
  }
  .grid {
      grid-column: 1/3;
  }
  .who-drive {
      grid-column: 1/3;
  }
}


.table-container {
  padding: 1rem;
}

table {
  text-align: center;
  overflow-x: auto;
  border-collapse: collapse;
  margin-top: 1.5rem;
  margin: 0 auto;
  width: 90%;
  align-self: center;
  table-layout: auto;
  @include for-phone-only {
      width: 100%;
  }
  th {
      font-family: 'F1-Bold';
      border: 1px solid $naranja;
      padding: .5rem;
  }
  td {
      font-family: 'F1-Regular';
      border: 1px solid $naranja;
      padding: .5rem;
      a {
          color: $negro;
          padding-bottom: .5px;
          text-decoration: none;
      }
      @include for-phone-only {
          font-size: 1rem;
          padding: .1rem;
          border: 1px solid lighten($naranja, 20);
          a {
              border: 0;
          }
      }

      div {
        margin: .5rem;
      }
  }
  .main-titles {
      background-color: lighten($naranja, 10);
  }
  .row:hover {
      background-color: lighten($naranja, 30);
      a {
          border-bottom: 2px dotted $negro;
          &:hover {
              border-bottom: 3px dotted $negro;
          }
      }
  }
}

.colspan-2 {
  grid-column: 1/3;
}
