@import '../../scss_utils/variables';
@import '../../scss_utils/mixins';
@include spinner;

.contenedor {
    max-width: 1500px;
    margin: 0 auto;
}

.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 0 100%;
  background-image: url(https://www.formula1.com/content/dam/fom-website/manual/Misc/Williams%2040/dne1415my573.jpg.transform/9col/image.jpg);
  background-position: bottom center;
  background-size: cover;
  background-attachment: fixed;
  .titulo {
      top: calc(50% - 3rem);
      position: absolute;
      text-align: center;
      color: $blanco;
      font-family: 'F1-Bold';
      align-self: center;
      font-size: 1.5rem;
  }
}
