<div class="hero">
  <app-navbar></app-navbar>
  <div class="titulo">
    <h1>Temporadas de Fórmula 1</h1>
  </div>
</div>
<div class="box table-container" *ngIf="temporadas | async as seasons">
  <div class="titulo">Lista de temporadas</div>
  <table>
    <tr class="main-titles">
      <th>#</th>
      <th>Temporada</th>
      <th>Numero de carreras</th>
    </tr>
    <tr class="row" *ngFor="let s of seasons; let i = index">
      <td>{{i+1}}</td>
      <td><a [routerLink]="[ '/temporadas', s.season ]">{{s.season}}</a></td>
      <td>{{s.eventsCount}}</td>
      <!-- <td><img src="https://www.countryflags.io/{{driver.countryCode}}/shiny/32.png" /></td>
            <td> <a href="#">{{driver.fullName}}</a> </td>
            <td>{{driver.code}}</td> -->
    </tr>
  </table>
</div>
