<div class="hero">
    <app-navbar></app-navbar>
    <div class="titulo">
        <h1 *ngIf="selectedConstructor | async as constructor">{{constructor.name}}</h1>
    </div>
</div>
<div class="contenedor">
    <div class="info-container">
        <div class="box basic-info">
            <div class="titulo">Información básica</div>
            <div class="nationality-box" *ngIf="selectedConstructor | async as constructor">
                <div class="nationality">Nacionalidad: </div>
                <div class="flag"><img src="https://www.countryflags.io/{{constructor.countryCode}}/shiny/64.png"></div>
                <div class="value">{{constructor.nationality}}</div>
            </div>
            <div class="current-drivers box-presets" *ngIf="constructorDrivers | async as drivers">
                <div class="drivers-title" *ngIf="drivers.length">Pilotos actuales</div>
                <div class="driver" *ngFor="let driver of drivers">
                    <div class="flag"><img src="https://www.countryflags.io/{{driver.countryCode}}/shiny/32.png"></div>
                    <div class="name">{{driver.givenName}} {{driver.familyName}}</div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="titulo">Estadísticas</div>
            <div class="chart box-presets">
                <div class="record">
                    <div class="record-name">Victorias</div>
                    <div class="value">{{winsCount | async}} <span>({{winPercentage | async}}%)</span></div>
                </div>
                <div class="record">
                    <div class="record-name">Pole positions</div>
                    <div class="value">{{polesCount | async}} <span>({{polesPercentage | async}}%)</span></div>
                </div>
                <div class="record">
                    <div class="record-name">Temporadas</div>
                    <div class="value">{{seasonCount | async }}</div>
                </div>
                <div class="record">
                    <div class="record-name">Carreras</div>
                    <div class="value">{{racesCount | async}}</div>
                </div>
                <div class="record">
                    <div class="record-name">Campeonatos de pilotos</div>
                    <div class="value">{{driverChampionshipsCount | async}} <span>({{driverChampionshipPercentage | async}}%)</span></div>
                </div>
                <div class="record">
                    <div class="record-name">Campeonatos de constructores</div>
                    <div class="value">{{constructorChampionshipsCount | async}} <span>({{constructorChampionshipsPercentage | async}}%)</span></div>
                </div>
            </div>
        </div>
    </div>
</div>